section {
  min-height: 100vh;
  background: linear-gradient(
    141deg,
    rgba(2,0,36,1) 13%, 
    rgba(9,121,35,0.9528186274509804) 38%, 
    rgba(112, 223, 52, 0.886) 100%
  );

  display: flex;
  align-items: center;
}

.form {
  width: 100%;
  max-width: 80%;
  height: max-content;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
}